<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#"
	style="display:block;text-align:left;line-height:1.6;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:1px 0;">
	<span title="#name#&#013;Date valeur : #valueDate#&#013;Date collecte : #collectDate#"
		style="width:15px;max-width:15px;max-height:15px;display:inline-block;vertical-align:middle;">#icon#</span>
	<span style="opacity:0.6;font-style:italic;">#name_display# : </span><span data-cmd_id="#id#" class="#history#">#state#</span> #unite#
</div>
