<div class="cmd cmd-widget #history#"
	data-type="info"
	data-subtype="string"
	data-template="ups"
	data-cmd_id="#id#"
	data-cmd_uid="#uid#"
	data-version="#version#"
	data-eqLogic_id="#eqLogic_id#">

	<style>
		.cmd[data-cmd_uid="#uid#"] {
			display: block;
			text-align: left;
			line-height: 1.6;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 1px 0;
		}
		.cmd[data-cmd_uid="#uid#"] .cmdName {
			opacity: 0.6;
			font-style: italic;
		}
		.cmd[data-cmd_uid="#uid#"] .cmdName::after {
			content: ' :';
		}
		.cmd[data-cmd_uid="#uid#"] .value {
			font-weight: 500;
			margin-left: 4px;
		}
	</style>

	<span class="cmdName #hide_name#">#name_display#</span>
	<span class="value">#state#</span>
	<strong class="unit">#unite#</strong>

	<script>
		jeedom.cmd.addUpdateFunction('#id#', function(_options) {
			if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
				cmd.setAttribute('title', '#name_display#<br>{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate);
				cmd.querySelector('.value').innerHTML = _options.display_value;
				cmd.querySelector('.unit').innerHTML = _options.unit;
			}
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }]);
	</script>

</div>
