<style>
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.widget-name.nut-name-flex {
		display: flex; justify-content: space-between; padding-left: 5px !important;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-name-left {
		display: flex; flex: 0 1 auto; float: left; justify-content: flex-start; align-items: center;
		box-sizing: border-box;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.widget-name.nut-name-center {
		display: flex; flex: 1 1 auto; justify-content: center; text-align: center;
		padding-left: 5px; padding-right: 5px; box-sizing: border-box;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.widget-name {
		overflow: auto;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-name-right {
		display: flex; flex: 0 1 auto; float: right; justify-content: flex-end; align-items: center;
		box-sizing: border-box;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-name-right .cmd.refresh {
		margin-top: unset !important;
		padding-right: 5px;
		color: inherit !important;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds {
		display: block; text-align: left; padding-left: 5px; overflow: auto;
		white-space: nowrap; width: 100%; height: calc(100% - 24px);
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-label {
		opacity: 0.6;
		font-style: italic !important;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-row {
		display: flex;
		align-items: center;
		gap: 4px;
		white-space: nowrap;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-action-input {
		width: 80px;
		height: 18px;
		padding: 0 4px;
		font-size: 11px;
		border: 1px solid var(--border-color, #ccc);
		border-radius: 3px;
		background: transparent;
		color: inherit;
	}
	div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .history.cursor {
		font-weight: 600;
	}
</style>
<div id="plugin_container" class="eqLogic-widget eqLogic allowResize" data-eqLogic_uid="#uid#"
	style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#"
	data-translate-category="#translate_category#" data-category="#category#" data-eqLogic_id="#id#" data-version="#version#">

	<div class="widget-name nut-name-flex">
		<div class="nut-name-left">
			<span id="iconUPS_status#id#"></span>
			<span id="iconSSH#id#" style="margin-left:4px;"></span>
		</div>
		<div class="widget-name nut-name-center">
			<a href="#eqLink#">#name_display#<span style="font-size: 0.85em;position: relative;top:-2px;" class="object_name">#object_name#</span></a>
		</div>
		<div class="nut-name-right">
			<span data-cmd_id="#refreshid#" class="cmd refresh cursor" title="Rafraîchir">
				<i class="fas fa-sync"></i>
			</span>
		</div>
	</div>

	<script>
		// Bouton Rafraîchir
		if ('#refreshid#' !== '') {
			$('[data-cmd_id="#refreshid#"].refresh').off('click').on('click', function() {
				jeedom.cmd.execute({ id: '#refreshid#' });
			});
		}

		// Boutons exécution commandes action
		$('[data-eqLogic_uid="#uid#"] .nut-action-btn').off('click').on('click', function() {
			var btn     = $(this);
			var cmdId   = btn.data('cmd_id');
			var subtype = btn.data('subtype');
			if (subtype === 'message') {
				var val = btn.closest('.nut-row').find('.nut-action-input').val();
				jeedom.cmd.execute({ id: cmdId, value: { message: val } });
			} else {
				jeedom.cmd.execute({ id: cmdId });
			}
		});

		// Icône connexion SSH (mode SSH uniquement)
		if ('#cnx_ssh#' === 'OK') {
			if ('#ssh_op#' === '1') {
				$('#iconSSH#id#').append('<i title="Connexion SSH OK" class="techno techno-tv tooltips" style="font-size:1.1em;color:#00FF00;"></i>');
			} else {
				$('#iconSSH#id#').append('<i title="Sans connexion SSH" class="fa fa-sitemap tooltips" style="font-size:1.1em;color:#00FF00;"></i>');
			}
		} else if ('#cnx_ssh#' === 'KO') {
			$('#iconSSH#id#').append('<i title="Connexion SSH KO" class="fa fa-times tooltips" style="font-size:1.1em;color:#FF0000;"></i>');
		}

		// Icône statut UPS
		var upsStatus = '#ups_status#';
		if (upsStatus.indexOf('OL') > -1) {
			$('#iconUPS_status#id#').append('<i title="#ups_status_label#" class="techno techno-plug2 tooltips" style="font-size:1.1em;color:#00FF00;"></i>');
		} else if (upsStatus.indexOf('DISCHRG') > -1) {
			$('#iconUPS_status#id#').append('<i title="#ups_status_label#" class="techno techno-low2 tooltips" style="font-size:1.1em;color:#FEB95E;"></i>');
		} else {
			$('#iconUPS_status#id#').append('<i title="Pas de Réponse" class="fa fa-times tooltips" style="font-size:1.1em;color:#FF0000;"></i>');
		}
	</script>


	<div class="nut-cmds">
		#cmds_html#
	</div>
</div>
