<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="Nut_free" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#"
	style="display:block;line-height:1.6;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:1px 0;">
	<span class="cmdName #hide_name#" style="opacity:0.6;font-style:italic;">#name_display# :</span>
	<span class="value" style="font-weight:500;margin-left:4px;">#state#</span>
	<strong class="unit">#unite#</strong>
	<script>
		jeedom.cmd.addUpdateFunction('#id#', function(_options) {
			var cmd = $('.cmd[data-cmd_id=#id#]');
			cmd.attr('title', '#name_display# - {{Date de valeur}}: ' + _options.valueDate + ' - {{Date de collecte}}: ' + _options.collectDate);
			cmd.find('.value').empty().append(_options.display_value);
			cmd.find('.unit').empty().append(_options.unit);
		});
		jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }]);
	</script>
</div>
