<div class="eqLogic-widget eqLogic col2" data-eqLogic_id="#id#" data-version="#version#"
	data-translate-category="#translate_category#" data-category="#category#" style="#style#">

	<span style="display:flex;justify-content:space-between;padding-left:5px;">
		<span style="display:flex;align-items:center;">
			<span id="iconUPS_status#id#"></span>
			<span id="iconSSH#id#" style="margin-left:4px;"></span>
		</span>
		<span style="display:flex;flex:1;justify-content:center;">
			<a href="#eqLink#" style="font-size:1.1em;">#name_display#</a>
		</span>
		<span style="display:flex;align-items:center;padding-right:5px;">
			<span data-cmd_id="#refreshid#" class="cmd refresh cursor" title="Rafraîchir">
				<i class="fas fa-sync-alt" style="font-size:0.9em;"></i>
			</span>
		</span>
	</span>

	<script>
		// Icône connexion SSH (mode SSH uniquement)
		if ('#cnx_ssh#' === 'OK') {
			if ('#ssh_op#' === '1') {
				$('#iconSSH#id#').append('<i title="Connexion SSH OK" class="techno techno-tv tooltips" style="font-size:1.1em;color:#00FF00;"></i>');
			} else {
				$('#iconSSH#id#').append('<i title="Sans connexion SSH" class="fa fa-sitemap tooltips" style="font-size:1.1em;color:#00FF00;"></i>');
			}
		} else if ('#cnx_ssh#' === 'KO') {
			$('#iconSSH#id#').append('<i title="Connexion SSH KO" class="fa fa-times tooltips" style="font-size:1.1em;color:#FF0000;"></i>');
		}

		// Icône statut UPS
		var upsStatus = '#ups_status#';
		if (upsStatus.indexOf('OL') > -1) {
			$('#iconUPS_status#id#').append('<i title="#ups_status_label#" class="techno techno-plug2 tooltips" style="font-size:1.1em;color:#00FF00;"></i>');
		} else if (upsStatus.indexOf('DISCHRG') > -1) {
			$('#iconUPS_status#id#').append('<i title="#ups_status_label#" class="techno techno-low2 tooltips" style="font-size:1.1em;color:#FEB95E;"></i>');
		} else {
			$('#iconUPS_status#id#').append('<i title="Pas de Réponse" class="fa fa-times tooltips" style="font-size:1.1em;color:#FF0000;"></i>');
		}
	</script>

	<div style="padding-left:5px;overflow:auto;">

		<div class="tooltips" data-cmd_id="#device_mfrid#" style="display:#device_mfr_display#;">
			<span title="Fabricant || Date valeur : #device_mfr_value# || Date collecte : #device_mfr_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#device_mfr_icon#</span>
			<span>#device_mfr_name# : </span><span data-cmd_id="#device_mfrid#" class="history cursor">#device_mfr#</span>
		</div>

		<div class="tooltips" data-cmd_id="#device_modelid#" style="display:#device_model_display#;">
			<span title="Modèle || Date valeur : #device_model_value# || Date collecte : #device_model_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#device_model_icon#</span>
			<span>#device_model_name# : </span><span data-cmd_id="#device_modelid#" class="history cursor">#device_model#</span>
		</div>

		<div class="tooltips" data-cmd_id="#ups_serialid#" style="display:#ups_serial_display#;">
			<span title="Numéro Série || Date valeur : #ups_serial_value# || Date collecte : #ups_serial_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#ups_serial_icon#</span>
			<span>#ups_serial_name# : </span><span data-cmd_id="#ups_serialid#" class="history cursor">#ups_serial#</span>
		</div>

		<div class="tooltips" data-cmd_id="#ups_statusid#" style="display:#ups_status_display#;">
			<span title="Code NUT || Date valeur : #ups_status_value# || Date collecte : #ups_status_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#ups_status_icon#</span>
			<span>#ups_status_name# : </span><span data-cmd_id="#ups_statusid#" class="history cursor">#ups_status#</span>
		</div>

		<div class="tooltips" data-cmd_id="#ups_status_labelid#" style="display:#ups_status_label_display#;">
			<span title="Statut Onduleur || Date valeur : #ups_status_label_value# || Date collecte : #ups_status_label_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#ups_status_label_icon#</span>
			<span>#ups_status_label_name# : </span><span data-cmd_id="#ups_status_labelid#" class="history cursor">#ups_status_label#</span>
		</div>

		<div class="tooltips" data-cmd_id="#input_voltageid#" style="display:#input_voltage_display#;">
			<span title="Tension Entrée || Date valeur : #input_voltage_value# || Date collecte : #input_voltage_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#input_voltage_icon#</span>
			<span>#input_voltage_name# : </span><span data-cmd_id="#input_voltageid#" class="history cursor">#input_voltage#</span> #input_voltage_unite#
		</div>

		<div class="tooltips" data-cmd_id="#input_freqid#" style="display:#input_freq_display#;">
			<span title="Fréquence Entrée || Date valeur : #input_freq_value# || Date collecte : #input_freq_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#input_freq_icon#</span>
			<span>#input_freq_name# : </span><span data-cmd_id="#input_freqid#" class="history cursor">#input_freq#</span> #input_freq_unite#
		</div>

		<div class="tooltips" data-cmd_id="#output_voltageid#" style="display:#output_voltage_display#;">
			<span title="Tension Sortie || Date valeur : #output_voltage_value# || Date collecte : #output_voltage_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#output_voltage_icon#</span>
			<span>#output_voltage_name# : </span><span data-cmd_id="#output_voltageid#" class="history cursor">#output_voltage#</span> #output_voltage_unite#
		</div>

		<div class="tooltips" data-cmd_id="#output_freqid#" style="display:#output_freq_display#;">
			<span title="Fréquence Sortie || Date valeur : #output_freq_value# || Date collecte : #output_freq_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#output_freq_icon#</span>
			<span>#output_freq_name# : </span><span data-cmd_id="#output_freqid#" class="history cursor">#output_freq#</span> #output_freq_unite#
		</div>

		<div class="tooltips" data-cmd_id="#output_powerid#" style="display:#output_power_display#;">
			<span title="Puissance Sortie || Date valeur : #output_power_value# || Date collecte : #output_power_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#output_power_icon#</span>
			<span>#output_power_name# : </span><span data-cmd_id="#output_powerid#" class="history cursor">#output_power#</span> #output_power_unite#
		</div>

		<div class="tooltips" data-cmd_id="#output_real_powerid#" style="display:#output_real_power_display#;">
			<span title="Puissance Sortie Réelle || Date valeur : #output_real_power_value# || Date collecte : #output_real_power_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#output_real_power_icon#</span>
			<span>#output_real_power_name# : </span><span data-cmd_id="#output_real_powerid#" class="history cursor">#output_real_power#</span> #output_real_power_unite#
		</div>

		<div class="tooltips" data-cmd_id="#batt_chargeid#" style="display:#batt_charge_display#;">
			<span title="Charge Batterie || Date valeur : #batt_charge_value# || Date collecte : #batt_charge_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#batt_charge_icon#</span>
			<span>#batt_charge_name# : </span><span data-cmd_id="#batt_chargeid#" class="history cursor">#batt_charge#</span> #batt_charge_unite#
		</div>

		<div class="tooltips" data-cmd_id="#batt_voltageid#" style="display:#batt_voltage_display#;">
			<span title="Tension Batterie || Date valeur : #batt_voltage_value# || Date collecte : #batt_voltage_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#batt_voltage_icon#</span>
			<span>#batt_voltage_name# : </span><span data-cmd_id="#batt_voltageid#" class="history cursor">#batt_voltage#</span> #batt_voltage_unite#
		</div>

		<div class="tooltips" data-cmd_id="#batt_tempid#" style="display:#batt_temp_display#;">
			<span title="Température Batterie || Date valeur : #batt_temp_value# || Date collecte : #batt_temp_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#batt_temp_icon#</span>
			<span>#batt_temp_name# : </span><span data-cmd_id="#batt_tempid#" class="history cursor">#batt_temp#</span> #batt_temp_unite#
		</div>

		<div class="tooltips" data-cmd_id="#ups_tempid#" style="display:#ups_temp_display#;">
			<span title="Température Onduleur || Date valeur : #ups_temp_value# || Date collecte : #ups_temp_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#ups_temp_icon#</span>
			<span>#ups_temp_name# : </span><span data-cmd_id="#ups_tempid#" class="history cursor">#ups_temp#</span> #ups_temp_unite#
		</div>

		<div class="tooltips" data-cmd_id="#ups_loadid#" style="display:#ups_load_display#;">
			<span title="Charge Onduleur || Date valeur : #ups_load_value# || Date collecte : #ups_load_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#ups_load_icon#</span>
			<span>#ups_load_name# : </span><span data-cmd_id="#ups_loadid#" class="history cursor">#ups_load#</span> #ups_load_unite#
		</div>

		<div class="tooltips" data-cmd_id="#batt_runtimeid#" style="display:#batt_runtime_display#;">
			<span title="Autonomie Batterie || Date valeur : #batt_runtime_value# || Date collecte : #batt_runtime_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#batt_runtime_icon#</span>
			<span>#batt_runtime_name# : </span><span data-cmd_id="#batt_runtimeid#" class="history cursor">#batt_runtime#</span> #batt_runtime_unite#
		</div>

		<div class="tooltips" data-cmd_id="#batt_runtime_minid#" style="display:#batt_runtime_min_display#;">
			<span title="Autonomie Batterie (min) || Date valeur : #batt_runtime_min_value# || Date collecte : #batt_runtime_min_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#batt_runtime_min_icon#</span>
			<span>#batt_runtime_min_name# : </span><span data-cmd_id="#batt_runtime_minid#" class="history cursor">#batt_runtime_min#</span> #batt_runtime_min_unite#
		</div>

		<div class="tooltips" data-cmd_id="#timer_shutdownid#" style="display:#timer_shutdown_display#;">
			<span title="Minuterie Arrêt || Date valeur : #timer_shutdown_value# || Date collecte : #timer_shutdown_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#timer_shutdown_icon#</span>
			<span>#timer_shutdown_name# : </span><span data-cmd_id="#timer_shutdownid#" class="history cursor">#timer_shutdown#</span> #timer_shutdown_unite#
		</div>

		<div class="tooltips" data-cmd_id="#timer_shutdown_minid#" style="display:#timer_shutdown_min_display#;">
			<span title="Minuterie Arrêt (min) || Date valeur : #timer_shutdown_min_value# || Date collecte : #timer_shutdown_min_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#timer_shutdown_min_icon#</span>
			<span>#timer_shutdown_min_name# : </span><span data-cmd_id="#timer_shutdown_minid#" class="history cursor">#timer_shutdown_min#</span> #timer_shutdown_min_unite#
		</div>

		<div class="tooltips" data-cmd_id="#beeper_statusid#" style="display:#beeper_status_display#;">
			<span title="Beeper || Date valeur : #beeper_status_value# || Date collecte : #beeper_status_collect#"
				style="width:15px;max-width:15px;max-height:15px;">#beeper_status_icon#</span>
			<span>#beeper_status_name# : </span><span data-cmd_id="#beeper_statusid#" class="history cursor">#beeper_status#</span>
		</div>

	</div>
</div>
