<div class="eqLogic eqLogic-widget col2" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#"
	data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#"
	data-tags="#tags#" style="#style#">
	<style>
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-flex {
			display: flex;
			justify-content: space-between;
			padding-left: 5px !important;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-left {
			display: flex;
			flex: 0 1 auto;
			float: left;
			justify-content: flex-start;
			align-items: center;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-left span:not(:empty) {
			padding-right: 3px;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-center {
			display: flex;
			flex: 1 1 auto;
			justify-content: center;
			text-align: center;
			overflow: hidden;
			padding-left: 5px;
			padding-right: 5px;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-center span {
			justify-content: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-center .widget-name {
			display: flex;
			flex: 1 1 auto;
			padding-left: 6px;
			padding-right: 6px;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-right {
			display: flex;
			flex: 0 1 auto;
			float: right;
			justify-content: flex-end;
			align-items: center;
			padding-left: 5px;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-right .refresh {
			position: relative;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] span.nut-name-right i {
			margin-top: unset !important;
			padding-right: 5px;
			color: inherit !important;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds {
			display: block;
			text-align: left;
			padding-left: 5px;
			overflow: auto;
			white-space: nowrap;
			width: 100%;
			box-sizing: border-box;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-label {
			opacity: 0.6;
			font-style: italic !important;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-row {
			display: flex;
			align-items: center;
			gap: 4px;
			white-space: nowrap;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-icon {
			flex: 0 0 18px;
			text-align: center;
			font-size: 13px;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .nut-action-input {
			width: 80px;
			height: 18px;
			padding: 0 4px;
			font-size: 11px;
			border: 1px solid var(--border-color, #ccc);
			border-radius: 3px;
			background: transparent;
			color: inherit;
		}
		div.eqLogic-widget[data-eqLogic_uid="#uid#"] div.nut-cmds .history.cursor {
			font-weight: 600;
		}
	</style>

	<span class="nut-name-flex">
		<span class="nut-name-left">
			<span id="iconUPS_status#id#"></span>
			<span id="iconSSH#id#"></span>
		</span>
		<span class="nut-name-center">
			<span class="widget-name">
				<span>#name_display#</span>
			</span>
		</span>
		<span class="nut-name-right">
			<span data-cmd_id="#refreshid#" class="cmd refresh cursor" title="Rafraîchir">
				<i class="fas fa-sync"></i>
			</span>
		</span>
	</span>

	<script>
		(() => {
			'use strict'

			const widgetRoot = document.querySelector('.eqLogic-widget[data-eqLogic_uid="#uid#"]')
			if (!widgetRoot) return

			const initRefreshButton = () => {
				try {
					if ('#refreshid#' === '') return

					const refreshBtn = widgetRoot.querySelector('.refresh[data-cmd_id="#refreshid#"]')
					if (!refreshBtn) return

					refreshBtn.addEventListener('click', () => jeedom.cmd.execute({ id: '#refreshid#' }))
				} catch (e) {
					console.error('[NUT_Free] Error in initRefreshButton:', e)
				}
			}

			const initActionButtons = () => {
				try {
					widgetRoot.querySelectorAll('.nut-action-btn').forEach(btn => {
						btn.addEventListener('click', () => {
							const cmdId   = btn.getAttribute('data-cmd_id')
							const subtype = btn.dataset.subtype
							if (subtype === 'message') {
								const val = btn.closest('.nut-row')?.querySelector('.nut-action-input')?.value ?? ''
								jeedom.cmd.execute({ id: cmdId, value: { message: val } })
							} else {
								jeedom.cmd.execute({ id: cmdId })
							}
						})
					})
				} catch (e) {
					console.error('[NUT_Free] Error in initActionButtons:', e)
				}
			}

			const initIconSSH = () => {
				try {
					const iconSSH = widgetRoot.querySelector('#iconSSH#id#')
					if (!iconSSH) return

					if ('#cnx_ssh#' === 'OK') {
						iconSSH.innerHTML = '<i title="Connexion SSH OK" class="techno techno-tv tooltips" style="font-size:1.1em;color:var(--al-success-color, #00FF00);"></i>'
					} else if ('#cnx_ssh#' === 'KO') {
						iconSSH.innerHTML = '<i title="Connexion SSH KO" class="fa fa-times tooltips" style="font-size:1.1em;color:var(--al-danger-color, #FF0000);"></i>'
					}
				} catch (e) {
					console.error('[NUT_Free] Error in initIconSSH:', e)
				}
			}

			const initIconUPS = () => {
				try {
					const iconUPS  = widgetRoot.querySelector('#iconUPS_status#id#')
					if (!iconUPS) return

					const upsStatus = '#ups_status#'
					if (upsStatus.indexOf('OL') > -1) {
						iconUPS.innerHTML = '<i title="#ups_status_label#" class="techno techno-plug2 tooltips" style="font-size:1.1em;color:var(--al-success-color, #00FF00);"></i>'
					} else if (upsStatus.indexOf('DISCHRG') > -1) {
						iconUPS.innerHTML = '<i title="#ups_status_label#" class="techno techno-low2 tooltips" style="font-size:1.1em;color:var(--al-warning-color, #FEB95E);"></i>'
					} else {
						iconUPS.innerHTML = '<i title="Pas de Réponse" class="fa fa-times tooltips" style="font-size:1.1em;color:var(--al-danger-color, #FF0000);"></i>'
					}
				} catch (e) {
					console.error('[NUT_Free] Error in initIconUPS:', e)
				}
			}

			initRefreshButton()
			initActionButtons()
			initIconSSH()
			initIconUPS()
		})()
	</script>


	<div class="nut-cmds">
		#cmds_html#
	</div>
</div>
